.request {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px; 
    text-align: center;
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
}

.request ul {
    
    color: #fefefe;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 100px;
}

.request ul li header {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #000;
    border-radius: 5px 5px 0 0;
    height: 50px;
}

.request ul li header strong {
    flex: 2;
    font-size: 21px;
}
.request ul li header p {
    flex: 1;
    font-size: 20px;
    color: #999;
}

.request ul li header span {
    flex: 1;
    font-size: 22px;
    color: #ddd;
}

.request ul li main {
    display: flex;
    color: #666;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background: #FFF;
    border: #eee;
    height: 200px;
    font-size: 20px;
}

.request ul li main button {
    border: none;
    color: #fefefe;
    font-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.added {
    background: #26a69a;
}

.remove {
    background: #E57373;
}

#add{
    font-size: 17px;
    color: #fefefe;
    border-radius: 0 0 5px 5px;
    border: none;
    height: 50px;
    width: 100%;
    background: #17a2b8;
}

#cart {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
}

#cart h1 {
    align-self: center;
}

#cart ul li {
    list-style: none;
    font-size: 17px;
    color: #999;
}


#cart strong {
    font-size: 22px;
}

.address {
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    height: 40px;
}

.finish {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    font-size: 17px;
    font-weight: bold;
    color: #fefefe;
    background: #17a2b8;
    cursor: pointer;
}
.finish:hover {
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    .request {
        padding: 30px;
    }
    .request ul {
        
        grid-template-columns: 1fr;
    }
    
}